apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-kps-kube-prometheus-stack-alertmanager
  namespace: observability
  labels:
    app: kube-prometheus-stack-alertmanager
type: Opaque
stringData:
  alertmanager.yaml: |
    global:
      resolve_timeout: 5m

    inhibit_rules:
      - equal:
          - namespace
          - alertname
        source_matchers:
          - severity = critical
        target_matchers:
          - severity =~ warning|info
      - equal:
          - namespace
          - alertname
        source_matchers:
          - severity = warning
        target_matchers:
          - severity = info
      - equal:
          - namespace
        source_matchers:
          - alertname = InfoInhibitor
        target_matchers:
          - severity = info
      - target_matchers:
          - alertname = InfoInhibitor

    receivers:
      - name: "null"
      - name: "n8n-webhook"
        webhook_configs:
          - url: "http://n8n.automation.svc.cluster.local/webhook/prometheus-alerts"
            send_resolved: true

    route:
      group_by:
        - namespace
        - alertname
      group_interval: 5m
      group_wait: 30s
      receiver: "n8n-webhook"
      repeat_interval: 12h
      routes:
        - matchers:
            - alertname = "Watchdog"
          receiver: "null"
        - matchers:
            - severity =~ "critical|warning"
          receiver: "n8n-webhook"

    templates:
      - /etc/alertmanager/config/*.tmpl
